@model Interests
@{
    ViewData["Title"] = "Create";
}

<div class="container-fluid">
    <form method="post" enctype="multipart/form-data">
        <div class="form-row">
            <div class="form-group col-md-4">
                <label asp-for="Desc">Description</label>
                <input asp-for="Desc" class="form-control" placeholder="Description">
            </div>
        </div>
        <div class="col-lg-5">
            <div class="form-group">
                <button type="submit" class="btn btn-primary">Create</button>
            </div>
        </div>
    </form>
</div>